.ml10{margin-left:.1rem;}
.mr10{margin-right:.1rem;}
.mb25{margin-bottom:.25rem;}
.mt25{margin-top:.25rem;}
.f24{font-size:.24rem;}
.f18{font-size:.2rem;}
.f26{font-size:.26rem;}
.f30{font-size:.30rem;}
.f0{font-size:0;}
.body-bg01{background-color:#f8f8f8;background-image: url(../images/new/bg.png);background-position: center center;}
.pm-time-ic,.pm-people-ic{background-repeat: no-repeat;background-position: 0 0;background-size: 100% 100%;display: inline-block;}
.pm-time-ic{background-image: url(../images/icon/time.png);width:.26rem;height:.27rem;}
.pm-people-ic{background-image: url(../images/icon/people.png);width:.32rem;height:.32rem;}
.pmeetting-list li{background-size:100% 100%;width:100%;height:3.2rem;position:relative;border-top:solid #fff .04rem;}
.pmeetting-list li:first-child{margin-top:-.04rem;}
.pmeetting-list .pm-mask{background-color:#231815;opacity: .5;filter:alpha(opacity=50);}
.pmeetting-list .jq-cont,.pmeetting-list .pm-mask{position:absolute;left:0;top:0;width:100%;height:100%;color:#fff;}
.pmeetting-list .jq-cont{z-index: 10;padding:.16rem .25rem;}
.pmeetting-list h3{margin:.60rem 0 .15rem;line-height: 1.2;font-size:.36rem;}
.pmeetting-list .fm-btn{background-color:#0baed7;opacity:0.8;height:.58rem;padding:0;color:#fff;line-height:.58rem;border-radius:.45rem;-webkit-border-radius:.45rem;display:inline-block;width:auto;width:2.04rem;font-size:.2897rem;}
.pmeetting-list .jq-span02{padding-bottom: .2rem;display: block;}
.pmeetting-list .fm-btn.fm-disabled{background-color:#fff;color:#5d5d5d;}
.pmeetting-list .fm-btn.fm-back{background-image:-webkit-linear-gradient(#fff,#838382);background-image:linear-gradient(#fff,#838382);color:#5d5d5d;}
.pmeetting-list .jq-div01{position: absolute;bottom: .16rem;padding-left:.25rem;padding-right: .25rem;width:100%;color: #d2d2d2;margin-left:-.25rem;}
.pmeetting-list .pm-state{border:1px solid #d2d2d2;background-color:rgba(0,0,0,.2);color:#ff7200;height:.36rem;padding:.05rem .25rem;font-size: .24rem;border-radius: .16rem;border-radius: .16rem;-webkit-border-radius: .16rem;}
.pmeetting-list .pm-state.fm-back{color: #d2d2d2;;}
.pmeetting-list .pm-state.fm-will{color:#0baed7;}
.pmeetting-list .pm-join-num{margin-right:.2rem;color: #d2d2d2;}
.pmeetting-list .pm-span-l{margin-top:.05rem;color: #d2d2d2;}
.pmeetting-list .pm-people-ic{width:.26rem;height:.26rem;margin-right:5px;}
.pm-nav{height:0.76rem;}
.fm-hidden{visibility: hidden;}
.pm-nav-list{position:fixed;left:0;bottom:0;width:100%;background-color:#fff;
    z-index: 1000;}
.pm-nav-list li{width:50%;float:left;}
.pm-nav-list a{padding:.16rem 0;}
.pm-nav-list .jq-inner{border-left:1px solid #ededee;color:#bbb;font-size:.26rem;}
.pm-nav-list li.current .jq-inner{color:#40b4fd;}
.pm-nav-list li:first-child .jq-inner{border-left:0;}
.pm-nav-list .jq-img-wrap{height:.34rem;line-height:0;padding-top:.06rem;}
.pm-nav-list .jq-img-wrap>img{
    vertical-align: middle;width:.32rem;margin-top: -0.02rem;}
/*验证失败---start*/
.buy-comp-tk{text-align:center;padding:1.2rem .4rem 0;width:100%;}
.buy-comp-tk .wid-p01{font-size:.34rem;line-height:.6rem;margin:.32rem 0 1.1rem;}
.buy-comp-tk .wid-p02{font-size:.24rem;color:rgba(0,0,0,.5);margin-bottom:1.85rem;}
.buy-comp-tk .go-buy-btn{color:#86b003;margin-top:.75rem;font-size:.34rem;display:inline-block;text-decoration:underline;}
/*验证失败---end*/
/*会议详情--start*/
.meeting-detail{padding:.4rem;font-size:.28rem;line-height: .36rem;width:100%;overflow: hidden;box-sizing: border-box;-webkit-box-sizing:border-box;}
.meeting-detail iframe{width:100%;height:200px;margin-left:auto;margin-right:auto;display: block;max-width:414px;}
/*会议详情--end*/
.fixed-bottm-wrap{height:1.2rem;}
.fixed-bottm{height:1.2rem;position:fixed;bottom:0;left:0;width:100%;padding:0 .4rem;box-sizing:border-box;-webkit-box-sizing:border-box;}
#videoIframe{width:100%;height:100%;position: relative;z-index: 100;display:block;}
#videoLoading{position: absolute;left:0;top:0;height: 500px;width:100%;}
.video-xj{position: fixed;left:0;bottom:0;width:100%;height:50px;background-color:#ddd;z-index: 200;}
.video-xj .wid-l{width:50px;height:50px;background-color: #1f699d;text-align: center;font-size:18px;color:#fff;line-height: 25px;}
.video-xj li{font-size:18px;width:50px;margin-right:1px;border-right:1px solid #fff;height:50px;color:#666;float:left;line-height: 50px;text-align: center;}
.video-xj li.current{background-color:#fff;color:#ff6c00;}
/**/
.jq-dialog.jq-styl01 .jq-bd{line-height: 1.2;}